# Python
__pycache__/

# Virtual environment
venv/

# Data
evidence_data/indexes_and_articles/
evidence_data/medcpt_top10_evidence_bert.json
evidence_data/medcpt_top10_evidence_corrected.json

# Environment variables
.env

# original repository
original_repo/
